<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Escolha algma opção abaixo</h1>
    <li>Visualizar saldo</li>
    <a href="teste">Depositar</a>
    <li>Recarregar</li>
</body>
</html>