<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Realizar cadastro</h1>
    <form action="/validar_cadastro" method="post">
        <input type="text" name="nome" >Insira seu nome <br>
        <input type="text" name="senha" >Insira sua senha <br>
        <input type="text" name="CPF" >Insira seu CPF
        <button>Enviar</button>
    </form>
</body>
</html>