<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Area para deposito</h1>
    {{!-- <form >
    <label>
        
        <input type="number" name="inserir">Insira o valor que deseja depositar<br>
        
    </label>
    </form> --}}

    <form  action="/inserir_nota" method="POST"> 
    <div class="mb-3">
        <label class="form-label">Insira o valor que deseja depositar</label>
        <input type="number" class="form-control"  name="inserir">
        <button class="btn btn-primary">Confirmar</button>
        
        <a href="/principal" class="btn btn-primary">Retornar area incial</a>

    </div>
    
</body>
</html>