<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="consulta_saque">historico de saques</a> <br>
    <a href="consulta_deposito">historico de depositos</a>
</body>
</html>