<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sacar_dinheiro" method="post">
        <div class="mb-3">
            <label class="form-label">Insira o valor que deseja retirar</label>
            <input type="number" class="form-control"  name="retirar">
            <button class="btn btn-primary">Confirmar</button>
            <a href="/principal" class="btn btn-primary">Retornar area inicial</a>
        </div>
    </form>
</body>
</html>